.sreen {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sua-classe {
    padding: 5rem;

    width: 50rem;
    height: 50rem;
    background-color: rgb(190, 190, 190);
}
.horrible {
    background-color: #9D1B48;
    height: 100%;
    border-radius: 7px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bad {
    background-color: #ED2330;
    height: 100%;
    border-radius: 7px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.regular {
    background-color: rgb(255, 187, 0);
    height: 100%;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ok {
    background-color: #35693C;
    height: 100%;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.good {
    background-color: #01AD01;
    height: 100%;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.great {
    background-color: rgb(13, 183, 206);
    height: 100%;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nonenone {
    background-color: rgb(139, 139, 139);
    height: 100%;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardMessage {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.containerMessage {
    width: 20vw;
    height: 10vh;

    text-align: center;
}