.sreen {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sua-classe {
    padding: 5rem;

    width: 50rem;
    height: 50rem;
    background-color: rgb(190, 190, 190);
}